<md-toolbar class="" 
            layout="column" layout-align="center center" 
            ng-controller="Navbar as nm">

  <div class="md-toolbar-tools" ng-cloak>
    <md-icon></md-icon>
    <span>
      <h2>
        Season {{vm.data.season}}    
        <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
        Round {{vm.data.round}}
        <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
        {{vm.data.raceName}}
      </h2>
      <h3>
        <small>
          {{vm.data.Circuit.circuitName}} · {{vm.data.Circuit.Location.locality}}, {{vm.data.Circuit.Location.country}}
        </small>
      </h3>
    </span>
    <span flex></span>
  <!--
    <span>
      Season {{vm.data.season}}    
      <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
      Round {{vm.data.round}}
      <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
      {{vm.data.raceName}}
    </span>
    <span>
      {{vm.data.Circuit.circuitName}} 
      <md-icon md-svg-icon="assets/icons/ic_chevron_right_48px.svg"></md-icon>
      {{vm.data.Circuit.Location.locality}}, {{vm.data.Circuit.Location.country}}
    </span>
  </div>

  <div class="md-toolbar-tools md-toolbar-tools-bottom">

    <md-tabs md-border-bottom md-stretch-tabs="always" md-selected="vm.activeTab">

      <md-tab>
        <md-tab-label>Overview</md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Races</md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Drivers</md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Constructors</md-tab-label>
      </md-tab>

    </md-tabs>

  -->
  </div>

</md-toolbar>

<section role="main" layout="column" layout-fill layout-align="start center">
<md-content layout="row">

<table class="gpqTable" flex="100">
  <thead layout="column">
    <tr layout="row">
      <th class="position">Pos</th>
      <th class="grid">Grid</th>
      <th class="driver">Driver</th>
      <th class="team">Constructor</th>
      <th class="laps">Laps</th>
      <th class="status">Status</th>
      <th class="points">Pts</th>
      <th class="fastTime">Fastest</th>
      <th class="fastLap">Lap</th>
      <th class="fastSpeed">Avg Speed</th>
      <th class="fastRank">Rank</th>
    </tr>
  </thead>
  <tbody layout="column">
    <tr ng-repeat="result in vm.data.Results" layout="row">
      <td class="position">{{result.positionText}}</td>
      <td class="grid">{{result.grid}}</td>
      <td class="driver">
        {{result.Driver.givenName}} {{result.Driver.familyName}}
        <span class="flag-icon" ng-class="{{result.Driver.nationality | lowercase}}"></span>
      </td>
      <td class="team">{{result.Constructor.name}}</td>
      <td class="laps">{{result.laps}}</td>
      <td class="status">
        <span ng-if="result.status === 'Finished'">{{result.Time.time}}</span>
        <span ng-if="result.status !== 'Finished'">{{result.status}}</span>
      </td>
      <td class="points">{{result.points}}</td>
      <td class="fastTime" hide-sm>{{result.FastestLap.Time.time}}</td>
      <td class="fastLap" hide-sm>{{result.FastestLap.lap}}</td>
      <td class="fastSpeed" hide-sm>{{result.FastestLap.AverageSpeed.speed}} {{result.FastestLap.AverageSpeed.units}}</td>
      <td class="fastRank" hide-sm>{{result.FastestLap.rank}}</td>
    </tr>
  </tbody>
</table>


</md-content>
<!--
  <div ui-view></div>
-->

</section>