@import 'core/typography';
@import 'core/variables';

$baseline-grid:   8px !default;

$row-lg-height:   48px;
$row-md-height:   36px;
$row-sm-height:   24px;



// Typography
// ------------------------------

// @import url(http://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic);



html {
  font-family: $font-family;
}

.md-toolbar-tools {
  md-tabs {
    * {
      color: #e5e5e5;
    }
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
